{% extends 'store/main.html' %}
{% load static %}
{% block content %}
{% comment %} ADD carousel with featured products {% endcomment %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <div class="card product">
            <img class="thumbnail" src="{{ product.imageURL }}">        
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>
            <div class="card-body">
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline-block; float: right"> <strong>R${{product.price}} </strong></h4>
            </div>
        </div>
    </div>  
    {% endfor %}
</div>
{% endblock content %}